<main>
    <section id="login">
        <form class="row g-3">
              <h1>Login</h1>
              <label for="staticUsuario" class="visually-hidden">Usuário</label>
              <input type="text"  class="form-control" id="staticUsuario" placeholder="email@examplo.com">
            
            <br>
            
              <label for="inputPassword2" class="visually-hidden">Senha</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Senha">
            
            
              <button type="submit" class="btn btn-primary mb-3">Login</button>
            
          </form>
    </section>
</main>
